body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* CONTENEDOR */
.proyecto {
    display: flex;
    height: 100vh;
}

/* IZQUIERDA */
.proyecto-img {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.proyecto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DERECHA */
.proyecto-info {
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TITULO */
.titulo {
    font-size: 60px;
    color: #00bcd4;
    margin-bottom: 10px;
}

/* SUBTITULO */
.subtitulo {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 30px;
}

/* TEXTO */
.detalle p {
    font-size: 15px;
    color: #aaa;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* BOTÓN IGUAL AL TUYO */
.contacto {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #00bcd4;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50px;
}

.circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* HOVER */
.contacto:hover {
    transform: scale(1.05);
}

.flecha-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background: none;
    border: none;
    color: #00bcd4;
    font-size: 28px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

/* Flecha arriba */
.flecha-img.up {
    top: 90px;
    transform: translateX(-50%) rotate(-90deg);
}

/* Flecha abajo */
.flecha-img.down {
    bottom: 20px;
    transform: translateX(-50%) rotate(90deg);
}

/* Hover elegante */
.flecha-img:hover {
    opacity: 1;
    transform: translateX(-50%) scale(1.2) rotate(-90deg);
}

/* Ajuste específico para abajo en hover */
.flecha-img.down:hover {
    transform: translateX(-50%) scale(1.2) rotate(90deg);
}

/* IMPORTANTE */
.proyecto-img {
    position: relative;
}

@media (max-width: 768px) {

    .proyecto {
        flex-direction: column;
        height: auto;
    }

    .proyecto-img {
        width: 100%;
        height: 300px;
    }

    .proyecto-info {
        width: 100%;
        padding: 30px 20px;
    }

    .titulo {
        font-size: 32px;
    }

    .subtitulo {
        font-size: 14px;
    }

    .detalle p {
        font-size: 14px;
    }
}